<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post archive year</title>
</head>
<body>
    <h2>year</h2>
    {{ year }}
    
    <h2>previous_year</h2>
    {{ previous_year }}
    
    <h2>next_year</h2>
    {{ next_year }}
    
    <h2>date_list</h2>
    {{ date_list }}
    
    <h2>object_list</h2>
    {{ object_list }}
</body>
</html>